h1{
	background-color: #AFEEEE;
	margin: auto;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: #1E90FF;
}

h3{
	background-color: #AFEEEE;
	border-bottom-style: solid; 
	border-bottom-color: #1E90FF;


}